extends layout
block content
  h1= title
  .row
    p Software Development student
    ul.inline
      li.no-bullets
        a(target="_blank" href='https://www.github.com/a1500850')
          img(src="/images/GitHub_Logo.png" width="125" height="50" alt="GitHub")
      li.no-bullets
        a(target="_blank" href='https://linkedin.com/in/joonas-mattila-17402a115')
          img(src="/images/Logo-Black-34px-TM.png" alt="LinkedIn" style="padding-bottom: 7px; opacity: 0.9")
