body {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  background-color: #f4f6f9;
  text-align: center;
  margin: auto;
}

.container{
  padding-top: 150px;
  margin: auto;
}

.no-bullets{
    list-style-type: none;
    display: inline;
}

.inline{
  padding-left: 0;
  list-style: none;
  list-style-type: none;
  align-content: center;
  vertical-align: center;
}

a {
  color: #00B7FF;
  opacity: 0.7;
}

a:hover {
  color: #00B7FF;
  opacity: 1;
}
